.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelated
{
    width: 200px;
}

.chartContainer
{
    width: 300px;
    border: 1px solid gray;
    border-radius: 8px;
}