.searchPanel
{
    margin: 8px;
    padding: 8px;
    width: 400px;
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: lightblue;
}

.searchControls
{
    margin: 8px;
    padding: 8px;
    background-color: lightgray;
    border: 1px solid #444;
}