.comparePanel
{
    margin: 8px;
    border: 1px solid #777;
}

.controls
{
    margin: auto;
    padding: 16px;
    width: 300px;
    background-color: lightgray;
    border: 1px solid #444;
}

.list
{
    margin: auto;
    padding: 16px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    
    background-color: lightgray;
    border: 1px solid #444;
}