.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageContainer
{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}
.imageContainer img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}