.hidden
{
    display: none;
}


body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.card
{
    padding: 8px;
    background-color: azure;
    border: 1px solid black;
}

.results
{
    max-height: 400px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    background-color: lightgray;
    border: 1px solid darkgray;
}

.result
{
    height: 32px;
    padding: 8px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart
{
    width: 500px;
    height: 500px;
}



.gridBox
{
    display: grid;
    grid-template-columns: 1fr;
}


.panel
{
    margin: 8px;
    padding: 8px;
    border: 1px solid #222;
    background-color: #ddd;
}

.hidden
{
    display: none;
}

.inputBox
{
    width: 100px;
}

.loadingContainer
{
    position: fixed;
    bottom: 0;
    right: 0;
}


.loader
{
    width: 48px;
    height: 48px;
    border: 5px solid skyblue;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@media (min-width: 800px)
{
    .gridBox
    {
        grid-template-columns: 1fr 1fr;
    }
}